<h1>Add a New Recipe</h1>

<form action='/recipes' method="post">
  <div class="form-group">
    <label class="form-label" for="title">Add a title to your recipe:</label>
    <input class="form-control" id="title" type="text" name="title" placeholder="Recipe Title" required>

    <label for="instructions">Recipe Instruction:</label>
      <br>
      <textarea name="instructions" type="text" placeholder="Pull box to desired size"></textarea>
      <br>

    <button type="submit" class="btn">Add Recipe</button>
  </div>
</form>

<a href="/">Home</a>
