<h1>Add a New Ingredient</h1>

<form action='/ingredients' method="post">
  <div class="form-group">
    <label class="form-label" for="name">Add a new ingredient:</label>
    <input class="form-control" id="name" type="text" name="name" placeholder="Ingredient Title" required>

    <button type="submit" class="btn">Add Ingredient</button>
  </div>
</form>

<a href="/">Home</a>
