<h1>Add a New Category</h1>

<form action='/categories' method="post">
  <div class="form-group">
    <label class="form-label" for="tag">Add a new category:</label>
    <input class="form-control" id="tag" type="text" name="tag" placeholder="Category" required>

    <button type="submit" class="btn">Add Category</button>
  </div>
</form>








<a href="/">Home</a>
