<h1><%= @recipe.title %></h1>



<!-- Assign Category
Add Ingredients
Edit Recipe

Add Instruction Field

Rating -->

<div class='recipe_list'>
  <a href='/recipes/add'>Add a New Recipe</a>
</div>

<a href="/">Home</a>
